#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
	.loader {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -13px;
		margin-left: -13px;
		border-radius: 60px;
		animation: loader 0.8s linear infinite;
		-webkit-animation: loader 0.8s linear infinite;
	}
}



@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
.inner-header {
	padding: 39px 0;
  
	.logo {
	  padding: 12px 0;
  
	  a {
		display: inline-block;
	  }
	}
  
	.advanced-search {
	  height: 50px;
	  border: 1px solid #ebebeb;
  
	  .category-btn {
		max-width: 30%;
		float: left;
		background: transparent;
		border: none;
		padding-left: 23px;
		padding-top: 11px;
		padding-bottom: 13px;
		padding-right: 60px;
		font-size: 16px;
		color: #252525;
		position: relative;
  
		&:before {
		  position: absolute;
		  right: 0;
		  top: 14px;
		  width: 1px;
		  height: 20px;
		  background: #e5e5e5;
		  content: "";
		}
  
		&:after {
		  position: absolute;
		  right: 11px;
		  top: 10px;
		  content: "3";
		  font-family: "ElegantIcons";
		  font-size: 16px;
		  color: #b2b2b2;
		}
	  }
  
	  .input-group {
		max-width: 70%;
		height: 100%;
  
		input {
		  width: 100%;
		  height: 100%;
		  border: none;
		  font-size: 16px;
		  color: #d1d1d1;
		  padding-left: 20px;
		}
  
		button {
		  font-size: 16px;
		  color: #ffffff;
		  position: absolute;
		  right: -3px;
		  top: -1px;
		  border: 1px solid #e7ab3c;
		  background: #e7ab3c;
		  padding: 12px 16px 12px;
		  cursor: pointer;
		}
	  }
	}
  
	.nav-right {
	  padding: 10px 0;
  
	  li {
		list-style: none;
		display: inline-block;
		font-size: 20px;
		margin-left: 15px;
  
		&.heart-icon a {
		  color: #252525;
		  position: relative;
		  display: inline-block;
  
		  span {
			position: absolute;
			right: -8px;
			top: -1px;
			height: 15px;
			width: 15px;
			background: #e7ab3c;
			color: #ffffff;
			border-radius: 50%;
			font-size: 11px;
			font-weight: 700;
			text-align: center;
			line-height: 15px;
		  }
		}
  
		&.cart-icon {
		  position: relative;
  
		  &:hover .cart-hover {
			opacity: 1;
			visibility: visible;
			top: 60px;
		  }
  
		  a {
			color: #252525;
			position: relative;
			display: inline-block;
  
			span {
			  position: absolute;
			  right: -8px;
			  top: -1px;
			  height: 15px;
			  width: 15px;
			  background: #e7ab3c;
			  color: #ffffff;
			  border-radius: 50%;
			  font-size: 11px;
			  font-weight: 700;
			  text-align: center;
			  line-height: 15px;
			}
		  }
  
		  .cart-hover {
			position: absolute;
			right: -70px;
			top: 100px;
			width: 350px;
			background: #ffffff;
			z-index: 99;
			text-align: left;
			padding: 30px;
			opacity: 0;
			visibility: hidden;
			-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
			box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
  
			.select-items table {
			  width: 100%;
  
			  tr td {
				padding-bottom: 20px;
  
				&.si-pic img {
				  border: 1px solid #ebebeb;
				  width: 50px;
				}
  
				&.si-text {
				  padding-left: 18px;
  
				  .product-selected {
					p {
					  color: #e7ab3c;
					  line-height: 30px;
					  margin-bottom: 7px;
					}
  
					h6 {
					  color: #232530;
					}
				  }
				}
  
				&.si-close {
				  color: #252525;
				  font-size: 16px;
				  cursor: pointer;
				}
			  }
			}
  
			.select-total {
			  overflow: hidden;
			  border-top: 1px solid #e5e5e5;
			  padding-top: 26px;
			  margin-bottom: 30px;
  
			  span {
				font-size: 14px;
				color: #e7ab3c;
				text-transform: uppercase;
				letter-spacing: 0.5px;
				float: left;
			  }
  
			  h5 {
				color: #e7ab3c;
				float: right;
			  }
			}
  
			.select-button {
			  .view-card {
				font-size: 12px;
				letter-spacing: 2px;
				display: block;
				text-align: center;
				background: #191919;
				color: #ffffff;
				padding: 15px 30px 12px;
				margin-bottom: 10px;
			  }
  
			  .checkout-btn {
				font-size: 12px;
				letter-spacing: 2px;
				display: block;
				text-align: center;
				color: #ffffff;
				padding: 15px 30px 12px;
			  }
			}
		  }
		}
  
		&.cart-price {
		  font-size: 18px;
		  font-weight: 700;
		  color: #252525;
		}
	  }
	}
  }
  
  .nav-item {
	background: #252525;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  
	.nav-depart {
	  float: left;
  
	  .depart-btn {
		background: #3b3b3b;
		color: #ffffff;
		padding: 14px 84px 14px 18px;
		cursor: pointer;
		position: relative;
  
		&:hover .depart-hover {
		  top: 52px;
		  opacity: 1;
		  visibility: visible;
		  z-index: 99;
		}
  
		&:before {
		  position: absolute;
		  color: #ffffff;
		  right: 20px;
		  top: 13px;
		  content: "";
		  font-family: FontAwesome;
		  font-size: 18px;
		}
  
		i {
		  color: #ffffff;
		  font-size: 16px;
		}
  
		span {
		  font-size: 14px;
		  font-weight: 700;
		  text-transform: uppercase;
		  margin-left: 16px;
		}
  
		.depart-hover {
		  position: absolute;
		  width: 100%;
		  background: #fff;
		  left: 0;
		  top: 62px;
		  opacity: 0;
		  visibility: hidden;
		  padding-bottom: 29px;
		  -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
		  box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
		  -webkit-transition: all 0.3s;
		  -o-transition: all 0.3s;
		  transition: all 0.3s;
  
		  li {
			list-style: none;
  
			&.active a {
			  color: #e7ab3c;
			}
  
			a {
			  display: block;
			  font-size: 16px;
			  color: #000000;
			  padding-left: 40px;
			  padding-top: 16px;
			  padding-right: 30px;
			  -webkit-transition: all 0.3s;
			  -o-transition: all 0.3s;
			  transition: all 0.3s;
  
			  &:hover {
				color: #e7ab3c;
			  }
			}
		  }
		}
	  }
	}
  
	.nav-menu {
	  display: -webkit-inline-box;
	  display: -ms-inline-flexbox;
	  display: inline-flex;
	  position: relative;
  
	  li {
		list-style: none;
		display: inline-block;
		margin-left: -5px;
		position: relative;
  
		&.active a {
		  background: #e7ab3c; 
		}
  
		a {
		  font-size: 14px;
		  font-weight: 500;
		  display: block;
		  color: #ffffff;
		  border-right: 2px solid #3b3b3b;
		  text-transform: uppercase;
		  padding: 16px 42px 15px;
		  -webkit-transition: all 0.3s;
		  -o-transition: all 0.3s;
		  transition: all 0.3s;
		}
  
		&:hover {
		  > a {
			background: #e7ab3c;
		  }
  
		  .dropdown {
			opacity: 1;
			visibility: visible;
			top: 52px;
		  }
		}
  
		.dropdown {
		  position: absolute;
		  right: 0;
		  top: 82px;
		  width: 200px;
		  z-index: 99;
		  background: #252525;
		  opacity: 0;
		  visibility: hidden;
		  -webkit-transition: all 0.3s;
		  -o-transition: all 0.3s;
		  transition: all 0.3s;
  
		  li {
			display: block;
			margin-left: 0;
  
			&:hover > a {
			  background: transparent;
			  color: #e7ab3c;
			}
  
			a {
			  border-right: 0;
			  padding: 13px 20px 12px 30px;
			  text-transform: capitalize;
			}
		  }
		}
	  }
	}
  }
  
  .slicknav_menu {
	display: none;
  }
  

  
.hero-items {
	.single-hero-items {
	  height: 725px;
	  padding-top: 210px;
  
	  span {
		color: #e7ab3c;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 28px;
		display: inline-block;
		position: relative;
		top: 50px;
		opacity: 0;
	  }
  
	  h1 {
		color: #252525;
		font-size: 72px;
		font-weight: 700;
		margin-bottom: 6px;
		position: relative;
		top: 50px;
		opacity: 0;
	  }
  
	  p {
		margin-bottom: 42px;
		position: relative;
		top: 100px;
		opacity: 0;
	  }
  
	  .primary-btn {
		position: relative;
		top: 100px;
		opacity: 0;
	  }
	}
  
	.off-card {
	  height: 154px;
	  width: 154px;
	  padding-top: 40px;
	  border-radius: 50%;
	  text-align: center;
	  line-height: 140px;
	  position: absolute;
	  left: 47%;
	  top: 160px;
	  background: #e7ab3c;
	  z-index: 1;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	  opacity: 0;
  
	  &:after {
		position: absolute;
		left: 5px;
		top: 5px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border: 2px dashed #ffffff;
		content: "";
		border-radius: 50%;
		z-index: -1;
	  }
  
	  h2 {
		font-size: 32px;
		font-weight: 700;
		color: #ffffff;
		text-transform: uppercase;
  
		span {
		  display: block;
		  font-size: 32px;
		  font-weight: 700;
		  color: #ffffff;
		  text-transform: uppercase;
		  margin-top: 6px;
		}
	  }
	}
  
	.owl-item.active .single-hero-items {
	  span, h1, p, .primary-btn {
		top: 0;
		opacity: 1;
	  }
  
	  span {
		-webkit-transition: all 0.2s ease 0.2s;
		-o-transition: all 0.2s ease 0.2s;
		transition: all 0.2s ease 0.2s;
	  }
  
	  h1 {
		-webkit-transition: all 0.4s ease 0.4s;
		-o-transition: all 0.4s ease 0.4s;
		transition: all 0.4s ease 0.4s;
	  }
  
	  p {
		-webkit-transition: all 0.6s ease 0.6s;
		-o-transition: all 0.6s ease 0.6s;
		transition: all 0.6s ease 0.6s;
	  }
  
	  .primary-btn {
		-webkit-transition: all 0.8s ease 0.8s;
		-o-transition: all 0.8s ease 0.8s;
		transition: all 0.8s ease 0.8s;
	  }
  
	  .off-card {
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 1s ease 1s;
		-o-transition: all 1s ease 1s;
		transition: all 1s ease 1s;
	  }
	}
  
	.owl-nav button[type=button] {
	  font-size: 30px;
	  position: absolute;
	  left: 40px;
	  top: 45%;
	  color: #252525;
  
	  &:hover {
		color: #dfad51;
	  }
  
	  &.owl-next {
		left: auto;
		right: 40px;
	  }
	}
  }
  
  
.banner-section {
	padding: 80px 50px;
  }
  
  .single-banner {
	position: relative;
	z-index: 1;
  
	&:hover::before {
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  transform: scale(1);
	}
  
	&::before {
	  position: absolute;
	  left: 35px;
	  top: 30px;
	  border: 13px solid #ffffff;
	  content: "";
	  opacity: 0.3;
	  width: calc(100% - 70px);
	  height: calc(100% - 60px);
	  -webkit-transform: scale(0);
	  -ms-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	}
  
	img {
	  min-width: 100%;
	}
  
	.inner-text {
	  position: absolute;
	  left: 0;
	  top: 0;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	  width: 100%;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  align-items: center;
	  height: 100%;
  
	  h4 {
		color: #252525;
		font-weight: 700;
		padding: 11px 28px;
		background: #ffffff;
		border-radius: 2px;
	  }
	}
  }
  
 /* Products */
  .sp-banner {
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 0;
	padding-bottom: 80px;
  }
  
  .product-large {
	height: 600px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	padding-top: 285px;
	border-radius: 5%;
  
	h2 {
	  color: #ffffff;
	  text-shadow: 5px 2px 4px black;
	  font-size: 48px;
	  font-weight: 700;
	  margin-bottom: 18px;
	}
  
	a {
	  color: #ffffff;
	  text-shadow:  10px 2px 4px black;
	  font-size: 20px;
	  font-weight: 500;
	  display: inline-block;
	  position: relative;
  
	  &:before {
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 2px;
		background: #ffffff;
		content: "";
	  }
	}
  }
  
  .filter-control {
	text-align: center;
	margin-bottom: 45px;
	padding-top: 32px;
  
	ul li {
	  list-style: none;
	  display: inline-block;
	  font-size: 20px;
	  color: #b2b2b2;
	  margin-right: 22px;
	  position: relative;
	  cursor: pointer;
  
	  &.active {
		color: #171717;
  
		&:before {
		  opacity: 1;
		}
	  }
  
	  &:before {
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 100%;
		height: 2px;
		background: #171717;
		content: "";
		opacity: 0;
	  }
  
	  &:last-child {
		margin-right: 0;
	  }
	}
  }
  
  .product-slider {
	.owl-nav button[type=button] {
	  font-size: 30px;
	  position: absolute;
	  left: -62px;
	  top: 25%;
	  color: #171717;
	  opacity: 0.3;
  
	  &.owl-next {
		left: auto;
		right: -62px;
		color: #171717;
		opacity: 1;
	  }
	}
  
	.owl-dots {
	  text-align: center;
	  margin-top: 27px;
  
	  button {
		width: 6px;
		height: 6px;
		background: #D8D9DA;
		border-radius: 50%;
		margin-right: 10px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
  
		&:last-child {
		  margin-right: 0;
		}
  
		&.active {
		  width: 30px;
		  background: #252525;
		  border-radius: 50px;
		}
	  }
	}
  }
  
  .product-item {
	margin-bottom: 26px;
  
	&:hover .pi-pic {
	  .icon {
		top: 15px;
		opacity: 1;
	  }
  
	  ul {
		bottom: 0;
	  }
	}
  
	.pi-pic {
	  overflow: hidden;
	  position: relative;
  
	  img {
		min-width: 100%;
	  }
  
	  .sale {
		color: #ffffff;
		font-size: 10px;
		background: #76BC42;
		position: absolute;
		left: 0;
		top: 20px;
		padding: 5px 10px;
		text-transform: uppercase;
  
		&.pp-sale {
		  background: #e7ab3c;
		}
	  }
  
	  .icon {
		font-size: 20px;
		color: #252525;
		position: absolute;
		right: 21px;
		top: -15px;
		cursor: pointer;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	  }
  
	  ul {
		position: absolute;
		left: 0;
		bottom: -52px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		text-align: center;
		width: 100%;
  
		li {
		  list-style: none;
		  display: inline-block;
		  background: #ffffff;
  
		  &.w-icon.active a {
			background: #e7ab3c;
			color: #ffffff;
		  }
  
		  a {
			font-size: 16px;
			font-weight: 700;
			color: #252525;
			display: block;
			padding: 16px 18px 12px 19px;
		  }
		}
	  }
	}
  
	.pi-text {
	  text-align: center;
	  padding-top: 26px;
  
	  .catagory-name {
		font-size: 10px;
		color: #b2b2b2;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 10px;
	  }
  
	  a {
		display: block;
  
		h5 {
		  color: #252525;
		}
	  }
  
	  .product-price {
		color: #e7ab3c;
		font-size: 20px;
		font-weight: 700;
  
		span {
		  font-size: 14px;
		  font-weight: 400;
		  color: #b2b2b2;
		  text-decoration: line-through;
		}
	  }
	}
  }

  .man-banner {
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 80px;
	padding-bottom: 80px;
  }
  

  
  /* quảng cáo */
  
  .latest-blog {
	padding-top: 72px;
	padding-bottom: 80px;
  
	.section-title {
	  margin-bottom: 55px;
	}
  }
  
  .single-latest-blog {
	margin-bottom: 25px;
  
	.blog_content{
		text-align: center;
	}
	// img {
	//   min-width: 100%;
	// }
  
	.latest-text {
	  padding-top: 25px;
  
	  .tag-list {
		margin-bottom: 8px;
  
		.tag-item {
		  font-size: 16px;
		  color: #a2a1a1;
		  display: inline-block;
		  margin-right: 15px;
  
		  i {
			color: #e7ab3c;
		  }
		}
	  }
  
	  a {
		display: block;
  
		h5 {
		  color: #252525;
		  font-weight: 700;
		  line-height: 30px;
		  margin-bottom: 16px;
		}
	  }
	}
  }
  
  .benefit-items {
	border: 1px solid #ebebeb;
	margin-top: 45px;
  
	.single-benefit {
	  padding-top: 30px;
	  padding-bottom: 25px;
	  padding-left: 55px;
	  padding-right: 55px;
	  border-right: 1px solid #F3F4F0;
  
	  .sb-icon {
		float: left;
		margin-right: 20px;
	  }
  
	  .sb-text {
		display: table;
  
		h6 {
		  color: #252525;
		  line-height: 20px;
		  font-weight: 700;
		  text-transform: uppercase;
		}
  
		p {
		  margin-bottom: 0;
		  color: #252525;
		  line-height: 20px;
		}
	  }
	}
  }
  
  /* Partner Logo */
	
  
  .partner-logo {
	background: #303030;
	padding: 38px 0;
  }
  
  .logo-carousel .logo-item {
	display: table;
  
	.tablecell-inner {
	  display: table-cell;
	  height: 90px;
	  width: 100px;
	  vertical-align: middle;
	}
  }
  
  .owl-carousel .owl-item img {
	display: block;
	width: auto;
  }
 